body{
  font-family: "Montserrat";
}


#title{
  background-color: #ff4c68;
  padding: 3% 15% 3%;
  color: #fff;
}

#h2a{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

#h2b{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.h3{
  font-family: "Montserrat";
  font-weight: bold;
}

p {
  color: #8f8f8f;
}


.heading{
  font-family: 'Montserrat-black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}
.ml-auto{
  margin-left: auto;
}

/* NAVIGATION BAR */

#navbar{
  padding-bottom: 4.5rem;
}

#navbrand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
    font-size: 1.2rem;
}

#navlink{
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}


/* Download Button */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */

.title-img {
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;

}

/* features */

#features {
  background-color: #fff;
  padding: 7% 15%;
  position: relative;
  z-index: 1;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}


/* TESTIMONIAL SECTION */

#testimonials {

  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-img{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */

#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}


/* call to action */

#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 15%;
}

#h3a {
  font-family: 'Montserrat-black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: #fff;
}


/* Footer */

#footer {
  text-align: center;
  padding: 7% 15%;
}

.social-icon {
  margin: 20px 10px;
}



@media (max-width: 1318px) {


  #title {
  text-align: center;
  }

  .title-img {
    width: 60%;
    transform: rotate(0);
    position: static;
 }

}
